<div class="page">
  <h1>Studies</h1>

  <section>
    <div class="section-header">
      <h2>
        <a href="http://ensta.fr" target="_blank">Ensta Paris</a>, Palaiseau -
        France
      </h2>
      <p class="date">Since September 2019, graduation expected in fall 2022</p>
    </div>

    <ul>
      <li>Pursue a master's degree in general engineering. GPA: 3.72</li>
      <li>Major in Computer Science</li>
      <li>Minor in Software Development and Architecture and Cybersecurity</li>
    </ul>
  </section>

  <section>
    <div class="section-header">
      <h2>
        <a href="https://lyceeduparc.fr/ldp/">Lycée du Parc</a>, Lyon - France
      </h2>
      <p class="date">From Fall 2017 to Summer 2019</p>
    </div>

    <ul>
      <li>
        Intensive education in mathematics, physics and computer science. GPA:
        3.90
      </li>
      <li>Admission at ENSTA Paris after examination</li>
    </ul>
  </section>

  <section>
    <div class="section-header">
      <h2>
        <a href="https://www.saintpierrechanel.fr/">Saint-Pierre Chanel</a>,
        Thionville - France
      </h2>
      <p class="date">Until Summer 2017</p>
    </div>

    <ul>
      <li>High School diploma in science with honours</li>
    </ul>
  </section>
</div>
