<div class="page">
  <h1>Work Experience</h1>

  <section>
    <div class="section-header">
      <h2>
        <a href="http://www.luxtram.lu/" target="_blank">Luxtram SA</a>,
        Luxembourg - Luxembourg
      </h2>
      <p class="position">Maintenance Technician, Intern</p>
      <p class="date">Summer 2020</p>
    </div>

    <ul>
      <li>
        Realized maintenance operations and controls on Luxtram’s tramway fleet
      </li>
      <li>Participated in the preparation and testing of new vehicles</li>
      <li>
        Calculated the energy and greenhouse gas balance of the company and made
        a projection for the opening of a new line in December 2020
      </li>
    </ul>
  </section>
</div>
